<a href="https://colab.research.google.com/github/samarthk/Learning_pyspark/blob/master/Part2_Without_Answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 2:
## *Working With Data*

---
#### Pre-amble (Run this cell and ignore it)

In [0]:
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRL6ghcQYtwg3_USPLdAHEs6axyxjfi3Dlq6uAL_CJhQm6iPRGXY2C3ilbLF84I4NM4HnUqr3tbJQ6b/pub?gid=1734137259&single=true&output=csv"
import requests
import io
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')))

df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])
df.replace('6823-SIDFQ', 'Florian-MAAS', inplace=True)
df1 = df.iloc[:,:11]
df2 = pd.concat([df.customerID, df.iloc[:,11:]], axis=1, sort=False)
df3 = df[:3500] 
df4 = df[3500:]

## Reading in a dataset

In python you can read all kinds of datasets, csv's, parquet files, excel files etc. 

The most common way to do this is with a multi-functional library called pandas.

![](https://miro.medium.com/max/3006/1*KdxlBR9P3mDp9JZ_URMdYQ.jpeg)

For this training we have already imported the csv for you and called it df

---
# SQL Vs Python

Since a lot of the data community currently use SQL, we will see how it differs from python and how we can perform the same tasks using python! 

Let's go through some of the most commonly used commands in SQL and see how they can be applied in python

---
## FROM

In SQL we use the FROM statement to tell the database manager which dataset we want to use. In python we usually store things in memory and can then just call them by name to select them. We read in a dataframe and called it df before so to see it we just need to call it again.

SQL:

    SELECT *
  
    FROM df

In [0]:
df

---
## TOP / ROWNUM / LIMIT

The most useful comparison for LIMIT or top in SQL is .head() and .tail()

If we just want to take a look at a small sample of data to get an idea of whats there then we can use the head and tail functions. They give use the top or bottom n rows of a query (default n=5)

SQL:

    SELECT TOP 5 *
  
    FROM df

In [0]:
df.head(n=5)

---
## SELECT

In SQL the select statement is done using a comma-separated list of columns youâ€™d like to select (or a * to select all columns)

In python, using pandas we provide first the dataset that we want for work with, and then a list of columns we want to select.

SQL:

    SELECT customerID, tenure, PhoneService, InternetService 
  
    FROM df

Pandas:

In [0]:
df[['customerID', 'tenure', 'PhoneService', 'InternetService']].head()

---
## WHERE

We can subset data in multiple ways but the most intuitive way is boolean indexing

SQL:
    
    SELECT *
    
    FROM df
    
    WHERE MonthlyCharges > 70

Python:

In [0]:
df[df['MonthlyCharges']>70].head()

Breaking this statement down to understand it better. First we are selecting the column mean revenue

In [0]:
df['MonthlyCharges'].head()

Next we evaluate all of the individual rows and return a boolean (True/False) that tells us whether they meet the condition (greater than 70)

In [0]:
(df['MonthlyCharges']>70).head()

Finally we call the data frame and select all the rows that meet our condition

In [0]:
df[df['MonthlyCharges']>70].head()

---
## AND and OR

In python we use & and | to represent AND and OR

SQL:

    SELECT *
  
    FROM df
    
    WHERE MonthlyCharges > 70 & TotalCharges < 500

In [0]:
df[(df['MonthlyCharges']>70) & (df['TotalCharges']<500)].head()

## Question 1: Data subset - Customers and their products
Create a new dataset and call it 'df_subset'. df_subset should include the columns customer ID, Phone service, Internet service, Online security, Device protection and Streaming tv.

In [0]:
# Write your answer below:

## Question 2: Customers satisfying multiple conditions
From the original dataframe (df), How many customers have a partner, have phone service and are on a two year contract?

In [0]:
# Write your answer below:

## Question 3: Create a new variable
a) Create a new variable called 'Yearly_Charges' by multiplying the monthly charges of each customer by 12

b) What is the average Yearly charges per customer?


Hints:

a) You can create a new variable/column in the same way as you would call it in the example above. Also in python we use the star symbol for multiplication.

b) If you are stuck with this one. Search for a solution on google! (Stackoverflow is very useful)

In [0]:
# Write your answer below:

---
## IS NULL

We can identify nulls using the notna() and isna() methods

SQL:

    SELECT *
  
    FROM df
    
    WHERE TotalCharges IS NULL

In [0]:
df[df['TotalCharges'].isnull()].head()

.isnull() also returns a set of booleans

In [0]:
df.isnull().head()

When you sum a boolean it counts True as 1 and False as 0. Here we are counting how many nulls there are in each column

In [0]:
df.isnull().sum()

---
## GROUP BY

SQL:
    
    SELECT COUNT(Customer_ID), PaymentMethod
    
    FROM df
    
    GROUP BY PaymentMethod

In [0]:
df.groupby('PaymentMethod').size()

In [0]:
df.groupby('PaymentMethod').count()

---
## ORDER BY

SQL:
    
    SELECT *
    
    FROM df
    
    ORDER BY MonthlyCharges DESC

In [0]:
df.sort_values(by='MonthlyCharges', ascending=False).head()

---
## JOIN

SQL: 
    
    SELECT *
    
    FROM df1
    
    INNER JOIN df2 ON df1.customerID = df2.customerID;

In [0]:
df1.head()

In [0]:
df2.head()

In [0]:
df_inner_join = df1.merge(df2, on='customerID', how='inner')

In [0]:
df_inner_join.head()

---
## UNION

SQL:
    
    SELECT *
    
    FROM df3
    
    UNION
    
    SELECT *
    
    FROM df4;

In [0]:
df3.head()

In [0]:
df4.head()

In [0]:
df_union = pd.concat([df3, df4]).drop_duplicates()

In [0]:
df_union.shape

In [0]:
df3.shape

In [0]:
df4.shape

---
# What else can we do with a dataframe?

---
### Shape

shape shows you the dimensions of the dataframe you're working with

In [0]:
df.shape

In [0]:
len(df)

--- 
## Columns

calling .columns on a dataframe shows you the names of all the columns in that dataframe

In [0]:
df.columns

---
## Value counts

value counts are a great way to quickly investigate the frequency of categorical features

they can be used in place of a groupby statement

In [0]:
df['PaymentMethod'].value_counts()

---
## Describe

Provides useful information on numerical features

In [0]:
df.describe()

In [0]:
df.min()

### Correlation

In [0]:
df.corr()

## Question 4: Who has the best deal?

a) Find the minimum Monthly Charges that a customer pays 

b) If you didn't already, find the customerID of this customer

## Question 5: Churners

From this data set, what proportion of customers churned?

## Question 6: Customer tenure and churn
a) What is the most commonly occuring number of months (tenure) for the customers to be with us

b) What about only for customers that churned?