<a href="https://colab.research.google.com/github/samarthk/Learning_pyspark/blob/master/Programing_Excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String Functions -**

### Input 5 Strings and print Pallindrome only -

In [0]:
my_list = []
for i in range(5):
  in_str = input('Hello - please enter a string :')
  my_list.append(in_str)
#my_list.clear()
#print("The string is - ",in_str)
my_list.reverse()
print("The list is: ", my_list)
for item in my_list:
  reverse=item[::-1]
  if reverse==item :
    print("Palindrome -", item)

Hello - please enter a string :fjfi
Hello - please enter a string :g
Hello - please enter a string :egeg
Hello - please enter a string :gegwes
Hello - please enter a string :efewfg
The list is:  ['efewfg', 'gegwes', 'egeg', 'g', 'fjfi']
Palindrome - g

### Input a String and rebuild in Alphabetical order -

In [0]:
in_str = input("Enter a string :")
str_out =''
for i in range(250) :
  for item in in_str :
    if ord(item)==i :
      str_out =str_out+item
print(str_out)

Enter a string :samrth
ahmrst

### Input a Sentence, search for a word.
Return position of the word if found.

In [0]:
in_str = input("Enter a string :")
search_str = input("Enter a string to search:")
found=0
len_str= len(in_str)
len_srch_str= len(search_str)
for i in range(len_str):
  if search_str==in_str[i:i+len_srch_str]:
    print("Found at ",i)
    found=1
    break0;
if found!=1 :
  print("Not Found")

Enter a string :dswdwe
Enter a string to search:
Found at  0

### Input a complete name. Print - Surname, Initials
e.g - Samarth Kumar --> Kumar, S

In [0]:
in_str = input("Enter a string :")
in_str= in_str.strip(' ')
if in_str.count(' ') ==1 :
  print(in_str[in_str.find(' '):].strip(' ').title() +', '+in_str[0:1].title())
elif in_str.count(' ') ==0 :
  print(in_str.strip(' ').title())
else:
  print('Enter valid name like - Name Surname')

Enter a string :84 gopwjg
Gopwjg, 8

### Input a string and generate output as -
S
 T
  R
   I
    N
     G

In [0]:
in_str = input("Enter a string :")
counter=0
for i in in_str:
  print('  '*counter+ i.upper())
  counter=counter+1

Enter a string :sammy
S
  A
    M
      M
        Y

### Input a string and generate output as - (GOOD)
D

DO

DOO

DOOG

In [0]:
in_str = input("Enter a string :")
for i in range(len(in_str)) :
  if i==len(in_str)-1:
    print(in_str[::-1].upper())
  else :
    print(in_str[-1:len(in_str)-2-i:-1].upper())

Enter a string :SAmmy
Y
YM
YMM
YMMA
YMMAS

### Print a reversed sentence- 
e.g - I am a Boy --> Boy a am I

In [0]:
in_str = input("Enter a string :")
list_str= in_str.split(' ')
print(' '.join(list_str[::-1]))

Enter a string :i am sam ku
ku sam am i

### Find longest word in String

In [0]:
in_str = input("Enter a string :")
word=''
length=0
list_str= in_str.split(' ')
for in_str in list_str :
  if length<len(in_str):
    length=len(in_str)
    word=in_str
print('Longest word is-',word, ' Lenght is -',length)

Enter a string :eriwhg r pkoep kpy epoyjp54y oi3-i-yi55ikhoper u0 t4o kg    k wr[k [tr
Longest word is - oi3-i-yi55ikhoper  Lenght is - 17

### Input a list of integer and output the odd numbers.

In [0]:
odd_list = []
in_str=''
while in_str!='Done' :
  in_str = input('Hello - please enter a number :')
  if in_str!='Done' and int(in_str)%2!=0 :
    odd_list.append(int(in_str))
print("The list is - ",odd_list)

### Find the string having consecutive letters
e.g. - Augu***st***

In [0]:
in_str = input("Enter a string :")
for i in range(len(in_str)) :
  if ord(in_str[i])-ord(in_str[i-1])==1:
    print(in_str,in_str[i-1]+in_str[i])

Enter a string :ABnie
ABnie AB

### Input a sentence and swap all caps to small and vice versa

In [0]:
in_str = input("Enter a string :")
out_str=''
for i in in_str :
  if i.isupper() :
    out_str=out_str+ i.lower()
  else:
    out_str=out_str+ i.upper()
print(out_str)
print(in_str.swapcase())

Enter a string :mai hu DoN
MAI HU dOn
MAI HU dOn

### Check consecutive vowels in String

In [0]:
vovels = ['a', 'e', 'i', 'o', "u"]
in_str = "Entaer a strreing :"
count=0
for i in range(len(in_str)):
  if in_str[i] in vovels and in_str[i-1] in vovels:
      print(in_str[i-1]+in_str[i])
      count=count+1
print(count)

ae
ei
2

# **General Programming -**

### Find the sum of prime Numbers less than 30-

In [0]:
sum=0
for i in range(1,30):
  count=0
  for j in range(1,i+1):
    x=i%j
    if x==0 :
      #print('divied by- ',j)
      count=count+1
  if count==2 :
    #print('prime is -',i)
    sum =sum + i
print('Sum is -', sum)

Sum is - 129

### Find 'Perfect' number less than 30 -
6 = 1+2+3 (sum of factors)

In [0]:
for i in range(1,30):
  sum=0
  factors=''
  for j in range(1,i):
    x=i%j
    if x==0 :
      #print('divied by- ',j)
      sum=sum+j
      factors = factors+ str(j)+','
  if sum==i:
    print('Perfect -',i,'Factors are -',factors.strip(','))

Perfect - 6 Factors are - 1,2,3
Perfect - 28 Factors are - 1,2,4,7,14

### Find sum of series till N -
e.g.- 3+33+333+3333 .... N

In [0]:
n=4
sum=1
j=0
for i in range(n):
  j=j+3*10**i
  print(j)
  sum=sum+j
print('Sum =', sum)

3
33
333
3333
Sum = 3703

### Find sum of series till N -
1
12
123
1234
12345

In [0]:
n=5
sum=1
j=0
for i in range(n):
  j=j*10+i
  print(j)

0
1
12
123
1234

### Find sum of series till N -
1
23
456
78910

In [0]:
n=6
c=0
for i in range(n):
  sum=0
  for j in range(i):
    c=c+1
    sum=sum*10+c
    print(c)
  print(sum)

### Compute factorial of all prime number between 10 & 100

In [0]:
for i in range(10,100):
  fact=1
  prime=0
  #print('---------',i)
  for k in range(1,i+1):
    if i%k==0:
      prime=prime+1
  #print(prime)
  if prime==2:
    for j in range(1,i+1):
      fact=fact*j
    print('Factorial of ',i,'is', fact)

Factorial of  11 is 39916800
Factorial of  13 is 6227020800
Factorial of  17 is 355687428096000
Factorial of  19 is 121645100408832000
Factorial of  23 is 25852016738884976640000
Factorial of  29 is 8841761993739701954543616000000
Factorial of  31 is 8222838654177922817725562880000000
Factorial of  37 is 13763753091226345046315979581580902400000000
Factorial of  41 is 33452526613163807108170062053440751665152000000000
Factorial of  43 is 60415263063373835637355132068513997507264512000000000
Factorial of  47 is 258623241511168180642964355153611979969197632389120000000000
Factorial of  53 is 4274883284060025564298013753389399649690343788366813724672000000000000
Factorial of  59 is 138683118545689835737939019720389406345902876772687432540821294940160000000000000
Factorial of  61 is 507580213877224798800856812176625227226004528988036003099405939480985600000000000000
Factorial of  67 is 36471110918188685288249859096605464427167635314049524593701628500267962436943872000000000000000
Factorial of  71 is 850478588567862317521167644239926010288584608120796235886430763388588680378079017697280000000000000000
Factorial of  73 is 4470115461512684340891257138125051110076800700282905015819080092370422104067183317016903680000000000000000
Factorial of  79 is 894618213078297528685144171539831652069808216779571907213868063227837990693501860533361810841010176000000000000000000
Factorial of  83 is 39455239697206586511897471180120610571436503407643446275224357528369751562996629334879591940103770870906880000000000000000000
Factorial of  89 is 16507955160908461081216919262453619309839666236496541854913520707833171034378509739399912570787600662729080382999756800000000000000000000
Factorial of  97 is 96192759682482119853328425949563698712343813919172976158104477319333745612481875498805879175589072651261284189679678167647067832320000000000000000000000

### Find max occurance of a word in sentence

In [0]:
in_str = 'Hello - please enter a sam sam sam string please enter pls:'
in_str=in_str.split(' ')
print(in_str)
max_count=0
max_word=''
for word in in_str:
  if max_count< in_str.count(word):
    max_count=in_str.count(word)
    max_word=word
print('Max_word -',max_word,'Count-',max_count)

['Hello', '-', 'please', 'enter', 'a', 'sam', 'sam', 'sam', 'string', 'please', 'enter', 'pls:']
Max_word - sam Count- 3

# **File Handling -**

### Upload a file to colab -

In [0]:
from google.colab import files

uploaded = files.upload()
print(uploaded)
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

{}

### Open a file in colab-

In [0]:
fhand= open('data_30122019.txt')
print(fhand)
#print(fhand.read())
#in_file= fhand.read()
#print(type(in_file))
#lst= in_file.split(' ')
#print(lst)
#print(lst[::1])
#print(in_file[:26:])

for item in fhand:
  #print(item[:50:])
  print(item.
        )

Handle bad filename-

In [0]:
!ls -ltr /content/sample_data/

total 61332
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root 36523880 May  4 16:26 mnist_train_small.csv
-rw-r--r-- 1 root root 18289443 May  4 16:26 mnist_test.csv
-rw-r--r-- 1 root root  1706430 May  4 16:26 california_housing_train.csv
-rw-r--r-- 1 root root   301141 May  4 16:26 california_housing_test.csv
-rw-r--r-- 1 root root  2942603 May 11 18:56 movies_dataset.txt
-rw-r--r-- 1 root root  3019987 May 11 19:16 movies_dataset.csv

In [0]:
#fhand =[]
try:
  fhand= open('/content/sample_data/mnist_teaast.csv')
except:
  print('File not found')
  #quit()
str_file=fhand.read()
list_file =str_file.splitlines()
list_file[:5]
for i in list_file[1:]:
  if float(i.split(',')[6]) > 10 and float(i.split(',')[6]) < 100:
    print(i.split(',')[6])

File not found

NameError: ignored

## **File Generic** -

In [0]:
def file_to_list(FilePath):
  try:
    fopen= open(FilePath)
  except:
    print('File not found, check filepath :',FilePath)
    return[]
  str_file = fopen.read()
  return(str_file.splitlines())

File operations -

Print File

In [2]:
list_file = file_to_list('/content/sample_data/movies_dataset.csv')
list_file[:2]

['Id,Title,Year,Rating,Views,Genre',
 '1,The Nightmare Before Christmas,1993,3.9,4568,Horror']

Filter and aggregate

In [7]:
list_file = file_to_list('/content/sample_data/movies_dataset.csv')

Tot_Revenue =0
Oth_Revenue =0
Rated_Revenue=0
for i in list_file[1:100]:
  #print(i)
  Tot_Revenue = Tot_Revenue + float(i.split(',')[4])

  if (float(i.split(',')[3]) >3.5 and float(i.split(',')[3]) <4.7):
    Rated_Revenue = Rated_Revenue + float(i.split(',')[4])
  else:
    Oth_Revenue = Oth_Revenue + float(i.split(',')[4])

print('Tot_Revenue = '.upper(),Tot_Revenue)
print('Rated_Revenue = ',Rated_Revenue)
print('Oth_Revenue = ',Oth_Revenue)

TOT_REVENUE =  623796.0
Rated_Revenue =  205929.0
Oth_Revenue =  417867.0

Tot_Revenue per rating

In [10]:
list_file = file_to_list('/content/sample_data/movies_dataset.csv')

Revenue_list = [['', 0]]
for i in list_file[1:]:
  #print(i)
  found_flag=0
  for j in Revenue_list:
    if j[0]== i.split(',')[3]:
      j[1]= float(j[1]) + float(i.split(',')[4])
      found_flag=1

  if found_flag != 1 :
    lst=[i.split(',')[3],float(i.split(',')[4])]
    Revenue_list.append(lst)
Revenue_list.sort()
Revenue_list.pop(0)
Revenue_list

[['2.5', 11404.0],
 ['2.6', 6108.0],
 ['2.7', 10782.0],
 ['2.8', 33169.0],
 ['2.9', 47298.0],
 ['3', 62292.0],
 ['3.1', 78828.0],
 ['3.2', 84851.0],
 ['3.3', 81894.0],
 ['3.4', 196339.0],
 ['3.5', 154094.0],
 ['3.6', 178771.0],
 ['3.7', 133105.0],
 ['3.8', 57792.0],
 ['3.9', 48308.0],
 ['4', 51810.0],
 ['4.1', 9265.0]]

In [0]:
help(str)